<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >

<mapper namespace="com.zijin.oep.mapper.TeacherCourseMapper">
    <resultMap id="TeacherCourseResultMap" type="com.zijin.oep.model.TeacherCourse">
        <id column="id" property="id"/>
        <result column="tid" property="tid"/>
        <result column="courseid" property="courseid"/>
        <result column="role" property="role"/>
    </resultMap>

    <delete id="deleteCourseParticipantTeacher">
        DELETE FROM tb_teachercourse WHERE role=1 AND courseid=#{courseId} AND tid=#{teacherId} ;
    </delete>
</mapper>
